.custom-button {
    background-color: #aae0ff; /* Blue color */
    color: white;
    border: none;
    border-radius: 25px; /* Rounded sides */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .custom-button:hover {
    background-color: #0b2540; /* Darker blue on hover */
  }
  