
/* ProductCard.css */

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  flex: 0 0 calc(30% - 20px); /* Adjust the width as needed */
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-out;
  box-sizing: border-box;
}

.product-card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
}

.button-container {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.add-to-cart-button-page,
.buy-button-page {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button-page:hover,
.buy-button-page:hover {
  background-color: #e68a00;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.product-price {
  font-size: 1rem;
  color: #ff9900;
  margin: 5px 0;
}

.product-discount {
  color: #007bff;
  margin: 1%;
}

.product-save {
  color: #008645;
  margin: 5%;
}
