.signupform{
    border-width: 10px;
    border: rgb(168, 133, 133);
    height :100vh;
    display :flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px
}
.form-button {
    flex-direction: row;
    border-radius: 20px;
}
.error-message{
    color: red;
}
input {
    border:1px solid black;
}